################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AOC_2018/Day1_Chronal_Calibration/bin/Debug
/AOC_2018/Day1_Chronal_Calibration/obj/Debug
/AOC_2018/.vs/AOC_2018/v15
/AOC_2018/Day_2_Inventory_Mgmt_System/obj/Debug
/AOC_2018/Day_2_Inventory_Mgmt_System/bin/Debug
/AOC_2018/Day_3_No_Matter_How_You_Slice_It/obj/Debug
/AOC_2018/Day_3_No_Matter_How_You_Slice_It/bin/Debug
/AOC_2018/Day_4_Repose_Record/obj/Debug
/AOC_2018/Day_4_Repose_Record/bin/Debug
