################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AOC_2018/Day1_Chronal_Calibration/bin/Debug
